
@{
    ViewBag.Title = "ThemeIndex";
}

<nav class="navbar navbar-default navbar-fixed-top" id="head-theme-div" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">主题</a>
    </div>

</nav>

<!-- <div style="margin-top:64px;" class="visible-xs visible-sm container row text-center center-block">

     <div class="col-md-12" style="height:200px; overflow: hidden; margin:10px 0;">
         <img src="~/Images/吉卜力.jpg" style="width:100%;" alt="">
     </div>
     <div class="col-md-12" style="height:200px; overflow: hidden; margin:10px 0;">
         <img src="~/Images/bg1.jpg" style="width:100%;" alt="">
     </div>
 </div> -->
<div style="margin-top:84px; margin-bottom:60px;" class="hidden-xs hidden-sm container row text-center center-block">
    <a href="ToMsg?Msgid=theme1">
        <div class="col-md-6 theme-div theme-height-505 border-right-5 ">
            <img src="~/Images/今敏-主题.jpg" style="width:100%;" alt="">

            <div class="theme-title-bg"></div>
            <div class="theme-title">
                <p>
                    我的造梦之路-今敏
                    <br>
                    <h5>今敏，动画界的造梦大师，与宫崎骏一样神一般的动画导演。他以非凡的才华掌控着梦境与现实，颠覆了既定的概念。</h5>
                </p>
            </div>
        </div>
    </a>
    <div class="col-md-6 theme-div theme-height-250">
        <img src="~/Images/吉卜力.jpg" style="height:100%;" alt="">
        <div class="theme-title-bg"></div>
        <div class="theme-title">
            <p>
                吉卜力工作室作品一览
                <br>
                <h5>吉卜力工作室（スタジオジブリ，Studio Ghibli，又译知步里工作室），是一家日本的动画工作室。其动画作品以高质量著称</h5>
            </p>
        </div>


    </div>

    <!-- https://www.g-cores.com/articles/17754 -->
    <div class="col-md-6 theme-div theme-height-250">
        <img src="~/Images/细田守-主题.jpg" style="width:100%;" alt="">
        <div class="theme-title-bg"></div>
        <div class="theme-title">
            <p>
                可能最接近宫崎骏的人：细田守
                <br>
                <h5>如果我们要讨论日本21世纪之后主流的动画电影，细田守这个名字出现的频率也许可能会和宫崎骏一样高</h5>
            </p>
        </div>
    </div>

    <div class="col-md-8 theme-div theme-height-250 border-right-5">
        <img src="~/Images/飞翔的老人.jpg" style="width:100%;" alt="">
        <div class="theme-title-bg"></div>
        <div class="theme-title">
            <p>
                创造飞翔与梦想的老人-宫崎骏
                <br>
                <h5>宫崎骏无疑是当代动画界泰斗级人物，同时也是继电影巨匠黑泽明之后第二位被世界影坛和全球观众一致推崇的日本导演。</h5>
            </p>
        </div>
    </div>
    <div class="col-md-4 theme-div theme-height-250">
        <img src="~/Images/回忆三部曲.jpg" style="width:100%;" alt="">
        <div class="theme-title-bg"></div>
        <div class="theme-title">
            <p>
                回忆三部曲
                <br>
                <h5>大友克洋总监督的动画电影。以《她的回忆》、《最臭兵器》、《大炮之街》三部曲的形式制作。</h5>
            </p>
        </div>
    </div>

    <a href="ToMsg?Msgid=theme2">
        <div class="col-md-4 theme-div theme-height-250 border-right-5">
            <img src="~/Images/anikuri.jpg" style="width:100%;" alt="">
            <div class="theme-title-bg"></div>
            <div class="theme-title">
                <p>
                    Ani*Kuri15
                    <br>
                    <h5>日本在世界上引以为傲的动画创作者们与NHK共同制作的1分钟原创动画的企画</h5>
                </p>
            </div>
        </div>
    </a>

    <div class="col-md-4 theme-div theme-height-250 border-right-5">
        <img src="~/Images/春宵苦短-少女前进吧.jpg" style="width:100%;" alt="">
        <div class="theme-title-bg"></div>
        <div class="theme-title">
            <p>
                春宵苦短,少女前进吧
                <br>
                <h5>古色古香的京都，奇妙的恋爱之旅正在展开。</h5>
            </p>
        </div>
    </div>

    <div class="col-md-4 theme-div theme-height-250">
        <img src="~/Images/水墨动画.jpeg" style="width:100%;" alt="">
        <div class="theme-title-bg"></div>
        <div class="theme-title">
            <p>
                水墨动画
                <br>
                <h5>水墨动画片是许多70、80年代成长起来的人心中美好的回忆，它伴随着一代人童年的各种记忆。</h5>
            </p>
        </div>
    </div>

    <div class="col-md-5 theme-div theme-height-250 border-right-5">
        <img src="~/Images/奥斯卡动画.jpg" style="width:100%;" alt="">
        <div class="theme-title-bg"></div>
        <div class="theme-title">
            <p>
                这届奥斯卡看什么动画
                <br>
                <h5>奥斯卡动画专题</h5>
            </p>
        </div>
    </div>

    <div class="col-md-7 theme-div theme-height-250">
        <img src="~/Images/手冢治虫.jpg" style="width:100%;" alt="">
        <div class="theme-title-bg"></div>
        <div class="theme-title">
            <p>
                《漫畫之神》手塚治虫的一生
                <br>
                <h5>创立了日本漫画意识形态，极大的扩张了新漫画的表现力，被誉为”漫画之神“。</h5>
            </p>
        </div>
    </div>

</div>

