<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnimationWeb</title>

    @Html.Partial("~/Views/Shared/_AreasPartialrRef.cshtml")
    @Html.Partial("~/Views/Shared/_AreasPartialAjax.cshtml")

    <style>
        html,
        body {
            height: 100%;
            direction: ltr;
            overflow: hidden;
            font-size: 15px;
            line-height: 1.4286;
            font-family: roboto, arial, sans-serif;
        }

        * {
            padding: 0px;
            margin: 0px;
        }

        .bg-div {
            position: absolute;
            width: 100%;
            height: 100%;
        }

            .bg-div svg {
                width: 100%;
                height: 100%;
            }

        .login-div {
            max-width: 100%;
            position: relative;
            width: 400px;
            margin: 0 auto;
            background: white;
            padding: 40px 49px 36px;
            top: 5%;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        }



        .submit-div {
            background: #4285f4;
            color: white;
            border-width: 0;
            line-height: 20px;
            min-width: 88px;
            min-height: 32px;
            text-align: center;
            padding: 6px;
            font-size: 15px;
            font-weight: 500;
            border-radius: 3px;
            max-width: 400px;
            margin: 30px auto 0 auto;
            width: 100%;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        }

        .login-h1 {
            font-size: 24px;
            font-weight: 400;
            line-height: 1.3333;
            margin: 0;
            padding: 4px 0;
        }

        .login-img {
            margin-bottom: 30px;
        }

        .form-div {
            padding: 10px 0 40px 0;
        }

        .forget-div {
            margin: 20px 0px;
        }

        .no-style:hover {
            text-decoration: none;
        }

        .main-div input {
            margin: 10px 0;
            width: 80%;
        }

        .form-inline {
            width: 80%;
        }
    </style>
</head>
<body>

    @RenderBody()

</body>
</html>