
@{
    ViewBag.Title = "NewsMsgIndex";
}

<nav class="navbar navbar-default navbar-fixed-top" id="head-newspage-div" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">news</a>
    </div>

</nav>
<div class="col-md-8 col-md-offset-2 text-center newspage-msg" style="margin-top:60px">
    <h1>日本动画电影《烟花》国内定档12月1日</h1>
    <hr>
    <h5 style="text-align: left;">2017-11-09 09:58:47</h5>
    <hr>

    <p>　　DoNews互娱11月9日消息（记者 王诗诗）日本动画电影《烟花》确定将于12月1日登陆内地院线。</p>
    <p>
        动画改编自岩井俊二1995年上映的电影《烟花》，动画在原作基础上加入原创故事。
    </p>
    <p>
        作品讲述男主人公典道暗恋女主公奈砂，奈砂因为母亲再婚已确定要转学，典道向奈砂发出出逃小镇邀请而引发的故事。
    </p>
    <p>
        此次动画由Shaft制作而成，由执导过剧场版《魔法少女小圆》、《荒川爆笑团》的导演新房昭之担纲总导演，《桃花期》、《食梦者》的导演大根仁参与剧本创作，声优阵容则有广濑丝丝、菅田将晖、宫野真守，松隆子，花泽香菜，樱井孝宏和梶裕贵。
    </p>

    <img src="~/Images/烟花1.jpeg" style="width:70%; margin:20px;" alt="">


    <p>　　官方现已发布中文定档海报。（完）</p>


</div>
<hr>

<footer class="bs-docs-footer col-md-12" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 ">
                <h4>参考链接</h4>
                <ul class="list-inline">
                    <li><a href="http://www.ghibli.jp/">スタジオジブリ｜STUDIO GHIBLI</a></li>
                    <li><a href="https://news.google.com/news/?gl=US&ned=us&hl=en">Google News</a></li>
                    <li><a href="https://www.google.com/culturalinstitute/beta/">Google Arts & Culture</a></li>
                    <li><a href="http://v3.bootcss.com/">Bootstrap中文网</a></li>
                    <li><a href="https://www.android.com/">Android</a></li>
                    <li><a href="http://finance.jrj.com.cn/tech/2017/11/09095823360906.shtml">金融界</a></li>

                </ul>
            </div>

        </div>
        <div>
            <ul class="list-inline small">
                <li>© 2017 ysc</li>
                <li>·</li>
                <li>本网页内容均来自互联网，对任何法律问题及风险不承担任何责任</li>

            </ul>
        </div>
    </div>
</footer>




