<style>
    .msg-title-div {
        background: #2B383F;
        color: white;
        padding: 10px 0 40px 0;
    }

    .msg-paper {
        /* width: 75%; */
        padding-top: 24px;
        /* padding: 24px; */
    }

        .msg-paper p,
        td,
        th {
            color: rgba(0, 0, 0, 0.87);
            font-weight: 400;
            font-size: 18px;
            line-height: 1.7em;
            text-align: left;
        }

    .msg-p-title {
        padding: 10px 20px;
        margin: 20px 0px;
        background: #2B383F;
    }

    .msg-paper a:hover {
        text-decoration: none;
    }

    .msg-duanluo p {
        color: rgba(0, 0, 0, 0.87);
        font-weight: 300;
        font-size: 18px;
        line-height: 1.7em;
        text-align: left;
    }

    .talk-img {
        width: 50px;
        height: 50px;
        float: right;
    }

    video {
        margin-top: 10px;
        margin-bottom: 30px;
    }
</style>

<div class="">
    <img src="~/Images/15动画人title.jpg" style="width:100%;" alt="">
    <div class="msg-title-div">
        <div class=" container">
            <h1>
                Ani*Kuri15
                <small>(2007)</small>
            </h1>
            <br>
            <h4>Ani*Kuri15（アニ＊クリ15）是在NHK电视台播放的系列短篇动画。</h4>
        </div>
    </div>
</div>

<div class="container col-md-8 col-md-offset-2  msg-paper">

    <p class="msg-p-title lead" style="color:white; font-size:25px;">内容介绍</p>

    <p>
        Ani-Kuri 15是由创作《攻壳机动队剧场版 无罪》的押井守，《红辣椒》的今敏，《恶童》的Michael L.Arias等，日本在世界上引以为傲的动画创作者们与NHK共同制作的1分钟原创动画的企画。
        <br>
        <br> 自手冢治虫的名作《铁臂阿童木》以来，动画创作者们不断地继续着新的挑战。最终日本“动画”带着与众不同的多样性和创造性,开拓了新“映象文化”的境地。并且如今“Anime”已经成为了世界的共通语。
        <br>
        <br> NHK在这之前也挑战过1分钟电视剧《EL POPO TOWN》等各种各样新的企画，但这次组织了由资深到新锐的15组动画创作者,挑战名为1分钟动画的电视界新流派。
        <br>
        <br> “Ani-Kuri 15”是以综合电视为中心，5组连续在1年间，分3季度播放（节目和节目间的1分钟范围）。在什么时间，会撞到哪一位创作者的作品是不是要取决于观众的运气了呢？享受邂逅也是“Ani-Kuri 15”值得期待的一面。
        网站也会阶段性地充，电视播放与网络成为一个整体，提供15组创作者富有创意、充满刺激的世界。
    </p>


    <!--
      <p class="msg-p-title lead" style="color:white; font-size:25px;">概要</p>

    <p>
        自从手冢治虫的《铁臂阿童木》以来，日本动画就开始走和中国、欧美不同的道路。随着时代的进步，观念和手法也不断更新，再加上三十多年来不断积累的经验，如今的日本动画已经成为全球最具影响力的新兴影像文化艺术，被世界各地不同语言、不同文化的人们所接受，更为了日本动画特地创造了ANIME这个专有名词。<br>
        在这种时代背景下，日本的NHK电视台为了能够把这种文化的多样性和创造性更好地体现出来，决定邀请一批杰出的动画人来制作一个动画短篇特辑，然后在自己的电视屏幕上向全世界展现日本动画的丰富题材与想象力。这个“NHK”并不只是单单一个电视台的简称，实际上它的全称是日本放送协会（Nippon HOSO Kyokai），创办于1925年，是日本最大的广播电视机构，也是目前日本惟一的公共广播电视台。NHK在日本设立了54个广播电视台，同时也负责日本的对外宣传和交流，在世界各地设有34个总局和分局，更与全世界47个国家与地区有合作关系。有这样的背景做支持，那些被邀请的动画人自然也乐意竭尽所能地展现出自己的才华。
        这个短篇特辑的提案是2006年末提出的，提案中包含15部长度仅一分钟的超短篇动画，分三批在电视台播出。第一批的5部作品于07年5月7日首播，把这些作品随机性地放在NHK电视台的两个节目中间，以插播广告的手法循环播放。第二批于07年8 月6日开始，第三批就到了年末的12月10日，前后跨度一年，可见NHK对这一提案的重视。
        这次的动画特辑正式名称为ANIMATION CREATORS 15，简称为Anikuri15，国内也有人习惯称之为NHK15，这后面的15就是指受邀请的动画导演人数。这些导演从当前日本一线主流动画公司里挑选出来，代表着当前日本动画界里老、中、青三代风格，其中既有像押井守那样名声赫赫的国际导演和新海诚那样广为人知的独立动画人，也有像林明美和中泽一登这样的半新手，更有前田真宏这样的中坚分子，可谓是济济一堂，荣囊了日本动画的各种风格与类型。
        由于NHK15的目的是体现出日本动画的影像文化艺术，所以尺度放得很开，题材不限，手法不限，风格不限，惟一有限制的就是时间，每个短篇只有一分钟的时间，就看导演们在这一分钟里怎么表达。这个极度开放的要求，同时也极度考验着导演们的才华和功力，使这些动画人的创造力与个性在高浓度的作品中得到体现。在多样性上，NHK15很有些像动画学院的学生毕业作品，也有些像新海诚这样的独立动画人的作品。不过，这次不需要大导演们单打独干，而是由他们各自所属的公司提供创作团队，帮助导演把个人的想法更加充分地体现出来，于是就产生了这15部趣味横生的超短篇，使我们能够在短短的时间里欣赏到多种不同风格、不同手法的动画作品。
        由于NHK提供赞助，NHK15在制作中几乎不用考虑成本问题，动画导演们的手法也就五花八门，有实拍的，有全电脑CG的，也有纯手绘的，各显神通，充分发挥各自的特点，有些大家比较熟悉的导演更是一看画面就能猜到是谁。另外，虽说题材不限，但每部作品里或多或少都有NHK相关元素，这些元素有些非常隐蔽，有些直接明了，还有些则非常巧妙而大胆。仔细挖掘、查找这些元素，也是看片过程中的一大乐趣。
    </p>
                        </p> -->
    <p class="msg-p-title lead" style="color:white; font-size:25px;">分集标题</p>
    <table class="table table-bordered" style="margin:0 auto; text-align:center">
        <tbody>
            <tr>
                <th>首播日期</th>
                <th>中文翻译名称</th>
                <th>日文原名</th>
                <th>监督</th>
                <th>制作</th>
            </tr>
            <tr>
                <td rowspan="5">2007年5月7日</td>
                <td>
                    攻击目标朹町2丁目
                </td>
                <td>
                    <span lang="ja" xml:lang="ja">アタックオブ朹町２丁目</span>
                </td>
                <td>木村真二</td>
                <td>STUDIO 4℃</td>
            </tr>
            <tr>
                <td>
                    眼泪的背后
                </td>
                <td>
                    <span lang="ja" xml:lang="ja">ナミダの向こう</span>
                </td>
                <td>林明美 (动画师)</td>
                <td>GAINAX</td>
            </tr>
            <tr>
                <td>
                    宇宙人来袭
                </td>
                <td>
                    <span lang="ja" xml:lang="ja">宇宙人襲来 ヒロシの场合</span>
                </td>
                <td>西见祥示郎</td>
                <td>STUDIO 4℃</td>
            </tr>
            <tr>
                <td>
                    三茶布鲁士
                </td>
                <td>
                    <span lang="ja" xml:lang="ja">三茶ブル—ス</span>
                </td>
                <td>小林治</td>
                <td>MAD HOUSE</td>
            </tr>
            <tr>
                <td>
                    假面火男
                </td>
                <td>
                    <span lang="ja" xml:lang="ja">火男ヒョットコ</span>
                </td>
                <td>副岛惠文</td>
                <td>GONZO</td>
            </tr>
            <tr>
                <td rowspan="5">2007年8月6日</td>
                <td>美人鱼计划</td>
                <td>
                    <span lang="ja" xml:lang="ja">PROJECTMERMAID</span>
                </td>
                <td>押井守</td>
                <td>Production I.G</td>
            </tr>
            <tr>
                <td>刺客上山来打猎</td>
                <td>
                    <span lang="ja" xml:lang="ja">刺客が山狩りに来た！！</span>
                </td>
                <td>小田扉＆清水保行</td>
                <td>STUDIO 4℃</td>
            </tr>
            <tr>
                <td>特摄片之吻</td>
                <td>
                    <span lang="ja" xml:lang="ja">ワンダバキッス</span>
                </td>
                <td>竹内敦志</td>
                <td>Production I.G</td>
            </tr>
            <tr>
                <td>动画人生～日常篇～</td>
                <td>
                    <span lang="ja" xml:lang="ja">「ゆルルル」～日常编～</span>
                </td>
                <td>中泽一登</td>
                <td>STUDIO 4℃</td>
            </tr>
            <tr>
                <td>回旋</td>
                <td>
                    <span lang="ja" xml:lang="ja">ジャイロソプタ—</span>
                </td>
                <td>薮田达也</td>
                <td>GONZO</td>
            </tr>
            <tr>
                <td rowspan="5">2007年12月10日</td>
                <td>最终计划</td>
                <td>
                    <span lang="ja" xml:lang="ja">プロジェクトΩ</span>
                </td>
                <td>河森正治</td>
                <td>SATELIGHT</td>
            </tr>
            <tr>
                <td>早安</td>
                <td>
                    <span lang="ja" xml:lang="ja">オハヨウ</span>
                </td>
                <td>今敏</td>
                <td>MAD HOUSE</td>
            </tr>
            <tr>
                <td>猫的集会</td>
                <td>
                    <span lang="ja" xml:lang="ja">猫の集会</span>
                </td>
                <td>新海诚</td>
                <td>CoMix Wave FILM</td>
            </tr>
            <tr>
                <td>乐园</td>
                <td>
                    <span lang="ja" xml:lang="ja">おっかけっこ</span>
                </td>
                <td>迈克尔·阿瑞斯</td>
                <td>STUDIO 4℃</td>
            </tr>
            <tr>
                <td>隐秘☆公主</td>
                <td>
                    <span lang="ja" xml:lang="ja">おんみつ☆姬</span>
                </td>
                <td>前田真宏</td>
                <td>GONZO</td>
            </tr>
        </tbody>
    </table>
    <p class="msg-p-title lead" style="color:white; font-size:25px;">部分介绍</p>
    <p id="short-film-1">
        <b>金敏-《早上好》</b>
    </p>
    <p>
        前夜生日派对后的混乱，今早却不得不按照响起闹钟的指令起来，迷迷糊糊的状态下心里另一个它却不愿意，只想在被窝里再躺一下，哪怕一秒钟也行。于是在迷迷糊糊的状态下起床、刷牙、洗脸、洗澡、更衣、化妆，最后形神合一，“早安”，又是新的一天开始。
        两个身体，一个虚一个实，分辨不出那个是虚那个是实，虚虚实实，这正是最擅长描写真实与虚幻互相结合相互影响题材的今敏。
    </p>

    <video width="100%" controls="controls">
        <source src="~/Video/morning.mp4" type="video/mp4" />
        <!-- <source src="movie.ogg" type="~/Video/ogg" /> -->
        <source src="movie.webm" type="video/webm" />
        <object data="~/Video/morning.mp4" width="100%">
            <!-- <embed src="movie.swf" width="320" height="240" /> -->
        </object>
    </video>
    <p id="short-film-2" style="font-size:20px;">
        <b>林明美-《眼泪的背后》</b>
    </p>
    <p>低声轻唱的歌曲从耳麦中传来，少女独自坐在窗前惆怅地望着外面淅淅沥沥的小雨，一把雨伞下面充满着悲伤与泪水，回忆过往，一丝伤感涌上心头，日子总要继续，生活还要学会坚强，阳光过后，笑脸迎对。 　　I'S CUBE的歌曲和画面相结合，把一个少女的成长历程慢慢勾画出来，除了歌的动听外，最主要还是一手包办所有工作的林明美将那种细腻的少女情怀完美地体现出来。很多人刚看到这个名字的时候都会联想到《超时空要塞》的女主角身上去，以为这位也是中国籍人士。实际上这位姐姐姓林没错，不过不是中国的林姓。林明美</p><p>
        92年就投身动画事业，担任不少作品的原画和作画导演，其中国内比较熟悉的有《新选组异闻录》片头片尾动画的作画导演兼人设，以及《飞跃巅峰2》的作画监督。这次的短片是林姐姐的导演处女作。第一次便能和那么多大牌的前辈同台献艺，不知会不会让这位少见的女性动画人受宠若惊呢？
    </p>
  
    <video width="100%" controls="controls">
        <source src="~/Video/eye_back.mp4" type="video/mp4" />
        <!-- <source src="movie.ogg" type="~/Video/ogg" /> -->
        <source src="movie.webm" type="video/webm" />
        <object data="~/Video/eye_back.mp4" width="100%">
            <!-- <embed src="movie.swf" width="320" height="240" /> -->
        </object>
    </video>


    <p id="short-film-3">
        <b>新海诚-《猫的聚会》</b>
    </p>
    <p>在一户普通的人家里，一只小猫平白无故被人踩到尾巴，还不止一次，于是晚上一批有着同样遭遇的猫聚集在一起，妄想着组成一座猫谢尔伦大炮，对城市进行破坏，结果第二天主人稍微给点好处，小猫的怒气就马上烟消云散了。 </p> <p>
        作为这几年风头最劲的动画导演和独立动画人，新海诚以美轮美奂的背景和充满青春气息的故事吸引了很多观众。当他在香港进行《秒速5厘米》的宣传时，就曾透露接受了NHK15的加盟邀请。《猫的集会》一改新海诚以往青春感伤的风格，采用一种轻松幽默的方式来表现故事，以至于不少人惊呼这不是新海诚的作品，另一个原因则是由于这部作品的画面被普遍认为和宫崎骏很像，新海诚自己也曾说过他加入动画界就是受了宫崎骏的《天空之城》的影响。不过对爱好者来说，那些精致华美的场景依然一眼就能看出强烈的新海诚风格。有趣的是，新海诚的成名作品是《她和她的猫》，他自己家也养了只大肥猫，这次又用猫来当主题，从中可以看出小新同学是个不折不扣的猫控……
    </p> <p>
        92年就投身动画事业，担任不少作品的原画和作画导演，其中国内比较熟悉的有《新选组异闻录》片头片尾动画的作画导演兼人设，以及《飞跃巅峰2》的作画监督。这次的短片是林姐姐的导演处女作。第一次便能和那么多大牌的前辈同台献艺，不知会不会让这位少见的女性动画人受宠若惊呢？
    </p>
    
    <video width="100%" controls="controls">
     
        <source src="~/Video/A_Gathering_of_Cats.mp4" type="video/mp4" />
        <!-- <source src="movie.ogg" type="~/Video/ogg" /> -->
        <source src="movie.webm" type="video/webm" />
        <object data="~/Video/A_Gathering_of_Cats.mp4" width="100%">
            <!-- <embed src="movie.swf" width="320" height="240" /> -->
        </object>
    </video>

    <p class="msg-p-title lead" style="color:white; font-size:25px;">幕后制作</p>
    <p>这个动画特辑的全名叫做《ANIMATION CREATORS 15》（《15名动画人》），简称为Anikuri15，国内也有人习惯称之为NHK15，这后面的15就是指受邀请的动画导演人数。这些导演全部是从像Production I.G、GONZO、GAINAX、SUNRISE等日本一线主流动画公司中挑选出来的，没有年龄限制，涵盖了日本老中青三代动画人，既有押井守这样的声名显赫的实力派，又有新海诚这样倍受欢迎的独立动画人，还有林明美、中泽一登这样的具有蓬勃朝气的半新人。他们的风格几乎囊括了日本动画的所有类型。</p><p>
        NHK制作这部动画短片，初衷就是为了以浓缩的形式展现日本动画的艺术成就。众所周知，日本是全世界动画产业的翘楚，只言片语间很难全名表现它丰富驳杂的类型风格。所以NHK直接放手把权利交给导演本人，最大限度地放开尺度，不限题材、不限手法、不限风格，但是只给一分钟的时间。在这一分钟内，导演可以随心所欲地表达自己的创意和想法。其实越是开放的要求，便越考验导演们的功力，因为一分钟的时间内，既要对故事有所表达，还要展现出个人风格，更要别出心裁。
    </p><p>
        需要说明的一点，这次不需要导演们单打独干，而是由他们各自所属的公司提供创作团队，帮助导演把个人的想法更加充分地体现出来。
    </p> <p>
        由于NHK提供赞助，动画特辑在制作中几乎不用考虑成本问题。动画导演们也就放开手脚，手法五花八门，有实拍的，有全电脑CG的，也有纯手绘的，各显神通，充分发挥各自的特点。有些短片，鲜明的风格可以让你一眼看出导演是谁，但也有一些导演跳出传统的个人风格，让人眼前一亮。另外，因为NHK赞助的缘故，这些作品中或多或少都包含一些与NHK有关的元素，有的隐蔽，有的直接，看动画的时候仔细地去寻找一下这些元素，就像找到圣诞节彩蛋一样，也是一种莫大的乐趣。
    </p>
</div>


<footer class="bs-docs-footer col-md-12" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 ">
                <h4>参考链接</h4>
                <ul class="list-inline">
                    <li><a href="http://www.ghibli.jp/">スタジオジブリ｜STUDIO GHIBLI</a></li>
                    <li><a href="https://news.google.com/news/?gl=US&ned=us&hl=en">Google News</a></li>
                    <li><a href="https://www.google.com/culturalinstitute/beta/">Google Arts & Culture</a></li>
                    <li><a href="http://v3.bootcss.com/">Bootstrap中文网</a></li>
                    <li><a href="https://www.android.com/">Android</a></li>
                    <li><a href="https://movie.douban.com/subject/3240828/">豆瓣介绍</a></li>

                </ul>
            </div>

        </div>
        <div>
            <ul class="list-inline small">
                <li>© 2017 ysc</li>
                <li>·</li>
                <li>本网页内容均来自互联网，对任何法律问题及风险不承担任何责任</li>

            </ul>
        </div>
    </div>
</footer>
