<link href="~/Areas/NewsMsg/CSS/WorksMsg.css" rel="stylesheet" />

    <div class="">
        <img src="~/Images/chuanyue.jpg" style="width:100%;" alt="">
        <div class="msg-title-div">
            <div class=" container">
                <h1>
                    穿越时空的少女
                    <small>(2016)</small>
                </h1>
                <br>
                <h4>《穿越时空的少女》（日语：時をかける少女），是由细田守导演的动画电影。2006年7月15日于日本上映。</h4>
            </div>
        </div>
    </div>

    <!-- msg-paper -->

    <div class="container col-md-8 col-md-offset-2  msg-paper">
        <p class="msg-p-title lead" style="color:white; font-size:25px;">概要</p>

        <p>
            改编自筒井康隆在1967年出版的小说《穿越时空的少女》。 虽然改编自小说，但故事内容并不相同；电影描述的是以小说剧情发生20年之后的原创故事， 主角也由芳山和子换为她的侄女绀野真琴。本作上映后佳评如潮，原作者筒井康隆甚至称赞这部电影为“真正第二代的时空少女
        </p>
        <p class="msg-p-title lead" style="color:white; font-size:25px;">故事简介</p>

        <p class="msg-duanluo">

        <p style="text-indent:2em;">主要讲述一位居住于东京下町的高中女子绀野真琴17岁夏天的故事。</p>
        <p style="text-indent:2em;">
            开头为7月13日（日文发音na i su，谐音nice）的一天早晨，真琴却睡晚了，急急忙忙出门，明明该是美好的一天，早上却差点迟到，一到学校就有临时小考，家政料理课的天妇罗弄的一蹋糊涂，面临每个学生都会遇到的不知道要选理科还是文科，忘了做值日生...就在真琴送作业簿到理科教室的时候，听到阵阵怪声，明明是密室空间的教室里，却出现一道人影，吓得真琴跌倒撞到某样东西，瞬间，像是窥探了一个星球的记忆般的梦境。最后整个人跌躺在地上，人影不知去向。
            <br>
        </p>
        <p style="text-indent:2em;">
            放学后跟朋友间宫千昭以及津田功介打棒球，聊著暑假即将到来，想起早上妈妈托付要送给“魔女阿姨”的桃子之后，骑着脚踏车离开球场，一如往常的要经过平交道的下坡上，看到前方栅栏放下的警示，刹车却始终没反应，即将要面临生死的瞬间，回过神来却发现回到几分钟前。
            <br>
        </p>
        <p style="text-indent:2em;">
            与魔女阿姨见面之后，得知了是一种叫做“跳跃时空”的能力。至此开始，真琴的生活180度大转变。慢慢地了解了能力使用方法，用它来吃到被妹妹偷吃的布丁、获得好成绩、拿很多零用钱、唱很多次卡拉OK……直到有一天，千昭在机缘下跟真琴告白，渐渐的她才发现时空跳跃是一个多么不可多得的能力……
            <br>
        </p>
        </p>

        <p class="msg-p-title lead" style="color:white; font-size:25px;">人物介绍</p>

        <p>

            <b> 绀野 真琴</b>（こんの まこと）　配音：仲里依纱（日本），卫兰（香港），林美秀（台湾），Emily Hirst（美国）
            <br>
        <p style="text-indent:2em;">
            女主角。东京的高二女学生，有一天忽然获得了时间跳跃的能力“Time Leap”。学校成绩中下，早上常常睡过头迟到。有两个男生好友千昭与功介，放学后三人常一起玩棒球。使用时间跳跃来吃到妹妹偷吃的布丁、或是回到早上以避免迟到，甚至回到考试之前来获得好成绩。
            <br> 要发动时间跳跃的能力，真琴必须助跑一段路并且跳跃；电影内故意描写她跳跃摔倒时旁人的惊讶表情，是十分有趣的地方。
            <br>
        </p>
        <p>
            <b> 间宫 千昭</b>（まみや ちあき）　配音：石田卓也（日本），张继聪（香港），何志威（台湾），Andrew Francis（美国）
        </p>
        <p style="text-indent:2em;">
            男主角之一。另译间宫隆平。真琴的同班同学，像女孩子一般美型的男生。数学成绩极为优良，但却连简单的汉字读写都不会。与真琴、功介三人在放学后常一起打棒球。三人间微妙的平衡，却因为功介被学妹告白的关系，让千昭鼓起对真琴告白的勇气。他实际上是来自未来，来到真琴的时代是因为想看美术馆的那幅画（因为在他的时代已经在战火中毁去），但因为对这里留有感情，故决定留在这时代，因此成为剧情起变化的转捩点。
            <br>
        </p>
        <p>
            <b> 津田 功介</b>（つだ こうすけ）　配音：板仓光隆（日本），卢家炜（香港），林谷珍（台湾），Alex Zahara（美国）
        </p>
        <p style="text-indent:2em;">
            男主角之一。真琴的同班同学、一起玩的朋友。有着精悍容貌的秀才型人物。家里是医院，因此也以医生为未来的目标。被学妹告白的事情，是三人间平衡被打破的开始。
            <br>
        </p>
        <p>
            <b> 早川 友梨</b>（はやかわ ゆり）　配音：垣内彩未（日本），黄紫娴（香港），吴贵竹（台湾），Kristie Marsden（美国）
        </p>
        <p style="text-indent:2em;">
            真琴的同班同学，也是她的好友。喜欢千昭，常透过真琴询问千昭的事情。有点害怕他们俩人是不是正在交往中。
            <br>
        </p>
        <p>
            <b> 藤谷 果穗</b>（ふじたに かほ）　配音：谷村美月（日本），郭碧珍（香港），李明幸（台湾），Natalie Walters（美国）
        </p>
        <p style="text-indent:2em;">
            义工社的学妹，是个个性畏缩不前、常常害羞低着头的女生。对以前参加义工社的功介抱有好感，被两位好朋友拖着向功介告白。
            <br>
        </p>
        <p>
            <b>绀野 美雪</b> （こんの みゆき）　配音：关户优希（日本），林宝怡（香港），吴贵竹（台湾），Shannon Chan-Kent（美国）
        </p>
        <p style="text-indent:2em;">
            真琴的妹妹，国中生。
            <br>
        </p>
        <p>
            <b> 芳山 和子</b>（よしやま かずこ）　配音：原沙知绘（日本），杜文慧（香港），李明幸（台湾），Saffron Henderson（美国）
        </p>
        <p style="text-indent:2em;">
            真琴的阿姨，名字与原作小说《穿越时空的少女》女主角相同。在美术馆（东京国立博物馆）负责修复绘画的工作。虽然已经30多岁了却还没结婚；因为身上仿佛有股不食人间烟火的氛围，真琴称她为“魔女阿姨”。因为自己年轻的时候跟真琴很像，常常对她提出一些有助于她的建言。
            <br>
        </p>
        </p>

        <p class="msg-p-title lead" style="color:white; font-size:25px;">主题歌</p>

        <p>
            片尾曲：柘榴石（ガーネット）
            <br> 作词、作曲：奥华子，编曲：佐藤准
            <br> 插曲：不变的事物（変わらないもの）
            <br> 作词、作曲：奥华子，编曲：佐藤准
        </p>

        <p class="msg-p-title lead" style="color:white; font-size:25px;">漫画</p>

        <p>
            <b>跳跃吧！时空少女 -TOKIKAKE- </b>
            <br> ISBN 986-174-293-X（中文）ISBN 4-04-713840-1（日文）
            <br> 由琴音らんまる所绘的漫画版，在少年Ace上连载，单行本由角川书店出版[2]。中文版单行本由台湾角川出版。忠实的呈现了原作，电影内没有触及到的和子阿姨过去也有提及。
            <br>
            <b>穿梭时空的少女 -time is, time was, time is not...... </b>
            <br> 由都贺野岳所绘的漫画版，中文版单行本由长鸿出版社于2005年出版。此作讲述偏向原小说的内容，主角即高中时代的芳山和子，其中交代了许多电影和新版漫画里未提及的背景桥段。
            <br>
        </p>

        <p class="msg-p-title lead" style="color:white; font-size:25px;">回响</p>

        <p>
        <p style="text-indent:2em;">
            《穿越时空的少女》在日本只在一小部分的戏院上映，票房大约3亿日币[3]。这部电影不像《地海战记》一样播放许多广告，但观众口耳相传的结果，让进戏院看电影的人越来越多 。在新宿的电影院，观众挤满了整个戏院，甚至有人愿意站着欣赏这部电影。也因为这样，角川映画增加了在日本的播放戏院数，并且将这部电影送到各个国际影展参赛。
        </p>
        <p style="text-indent:2em;">在台湾，博伟电影公司以“跳跃吧！时空少女”为名在台湾各地上映，台北首周末票房约为96万新台币（当周第七名）。</p>
        <p style="text-indent:2em;">
            在美国，以“The Girl Who Leapt Through Time”为名在2007年3月3日的“2007年纽约国际儿童电影节”上映。与一般电影不同的是，是以配上字幕而非配音的方式放映。后来，Bandai Entertainment发行了附有英文版配音的DVD。在Bandai
            Entertainment停业以后，日语版本与英语版本皆由Funimation代理。
        </p>
        <p style="text-indent:2em;">香港版上映前特别找来不太会中文的女歌手卫兰配音以制造话题，而卫兰亦成功与工作人员一同将超过80页的稿件拼成英文译音。</p>
        </p>


        <p class="msg-p-title lead" style="color:white; font-size:25px;">得奖纪录</p>
        <p>
        <p>
            第39届加泰隆尼亚国际电影展动画部门（Gertie Award）最优秀长篇作品
            <br> 第11回神户动画赏 作品赏・剧场部门
            <br> 第31回报知电影赏特别赏
            <br> 第49回朝日Best 10电影祭（朝日新闻社・朝日放送主办）日本电影　第3位
            <br> 第28回横滨映画祭Best 10 日本电影　第10位
            <br> 第10回文化厅媒体艺术祭动画部门大赏[
            <br> 第30回日本电影金像奖最优秀动画作品赏
            <br> 第1回Invitation AWARDS 动画赏
            <br> 第61回每日电影大奖动画电影赏
            <br> 第12回AMD Award“大赏（总务大臣赏）”“BestDirector（最佳导演）”
            <br> 第21回 Digital Content 优秀赏
            <br> 第6回东京动画奖‘年度最佳动画’监督赏、原作赏、脚本赏、美术赏、角色设定赏
            <br> 第38回星云奖
            <br>
        </p>
        <hr style="background:#2B383F;">
        <p>
            观看链接：
            <a href="https://www.bilibili.com/video/av2466701" target="_blank">哔哩哔哩</a>
        </p>
        <p>
            下载链接：
            <a href="https://pan.baidu.com/s/1b1RfEA" target="_blank">百度云盘</a>
        </p>
        <p style="margin:30px 0;">
            <b> 资料参考来源 维基百科</b>
        </p>
        <hr style="background:#2B383F;">
    </div>

    <div style="padding:0 30px; margin-bottom:30px;" class="container col-md-8 col-md-offset-2 row">

        <h4>评论</h4>
        <div class="media">
            <a class="pull-left" href="#">
                <img src="~/Images/xys.jpg" class="talk-img img-circle img-responsive" alt="">
            </a>
            <div class="media-body">

                <div class="form-group form-inline">

                    <div>
                        <div id="autoInput" class="auto-input from-control" contenteditable="true"></div>
                        <!-- <input type="text" name="" class="form-control" style="width:91%; margin-right:10px;" value="" required="required" placeholder="请输入你的评论.."> -->
                        <button type="button" class="btn btn-primary">评论</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                <img src="~/Images/xys.jpg" class="talk-img img-circle img-responsive" alt="">
            </a>
            <div class="media-body">
                <p class="media-name media-heading">迷茫的世界</h4>
                <p class="media-word">好贴留爪。我家的收纳一直是个巨大的问题。老公是什么都舍不得扔，用完东西不放回原处的人。我的爱好就是买书。加上现在小朋友东西的“骚扰”，收纳需求迫切。希望可以在这里找到合适的东西~现在的第一个目标是桌面书籍收纳。</p>
                <div>
                    <button type="button" style="float:right;" class="btn btn-primary">回复</button>
                </div>
            </div>
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                <img src="~/Images/xys.jpg" class="talk-img img-circle img-responsive" alt="">
            </a>
            <div class="media-body">
                <p class="media-name media-heading">迷茫的世界</h4>
                <p class="media-word">好贴留爪。我家的收纳一直是个巨大的问题。老公是什么都舍不得扔，用完东西不放回原处的人。我的爱好就是买书。加上现在小朋友东西的“骚扰”，收纳需求迫切。希望可以在这里找到合适的东西~现在的第一个目标是桌面书籍收纳。</p>
                <div>
                    <button type="button" style="float:right;" class="btn btn-primary">回复</button>
                </div>
            </div>
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                <img src="~/Images/xys.jpg" class="talk-img img-circle img-responsive" alt="">
            </a>
            <div class="media-body">
                <p class="media-name media-heading">迷茫的世界</h4>
                <p class="media-word">好贴留爪。我家的收纳一直是个巨大的问题。老公是什么都舍不得扔，用完东西不放回原处的人。我的爱好就是买书。加上现在小朋友东西的“骚扰”，收纳需求迫切。希望可以在这里找到合适的东西~现在的第一个目标是桌面书籍收纳。</p>
                <div>
                    <button type="button" style="float:right;" class="btn btn-primary">回复</button>
                </div>
            </div>
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                <img src="~/Images/xys.jpg" class="talk-img img-circle img-responsive" alt="">
            </a>
            <div class="media-body">
                <p class="media-name media-heading">迷茫的世界</h4>
                <p class="media-word">好贴留爪。我家的收纳一直是个巨大的问题。老公是什么都舍不得扔，用完东西不放回原处的人。我的爱好就是买书。加上现在小朋友东西的“骚扰”，收纳需求迫切。希望可以在这里找到合适的东西~现在的第一个目标是桌面书籍收纳。</p>
                <div>
                    <button type="button" style="float:right;" class="btn btn-primary">回复</button>
                </div>
            </div>
        </div>
    </div>



    <footer class="bs-docs-footer col-md-12" role="contentinfo">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 ">
                    <h4>参考链接</h4>
                    <ul class="list-inline">
                        <li><a href="http://www.ghibli.jp/">スタジオジブリ｜STUDIO GHIBLI</a></li>
                        <li><a href="https://news.google.com/news/?gl=US&ned=us&hl=en">Google News</a></li>
                        <li><a href="https://www.google.com/culturalinstitute/beta/">Google Arts & Culture</a></li>
                        <li><a href="http://v3.bootcss.com/">Bootstrap中文网</a></li>
                        <li><a href="https://www.android.com/">Android</a></li>
                        <li><a href="https://zh.wikipedia.org/wiki/跳躍吧！時空少女">维基百科</a></li>

                    </ul>
                </div>

            </div>
            <div>
                <ul class="list-inline small">
                    <li>© 2017 ysc</li>
                    <li>·</li>
                    <li>本网页内容均来自互联网，对任何法律问题及风险不承担任何责任</li>

                </ul>
            </div>
        </div>
    </footer>

   